<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/myAvatar.png" type="image/x-icon">
    <%- include('partials/head') %>
    <title><%= title %></title>
  </head>
  <body>

    <%- include('partials/navigation') %>

    <main class="vh-100 container pt-2 text-center d-flex justify-conten align-items-center">
      <section>
        <h1 class="display-1">About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, repellat voluptate obcaecati nostrum, repudiandae consectetur atque, rerum corrupti non assumenda impedit cum cumque maiores quis aspernatur. Dolor perferendis animi recusandae in omnis placeat aliquam eaque nemo quasi id aliquid magnam vero, voluptatem doloremque reprehenderit beatae adipisci qui? Maiores obcaecati odio, architecto repellendus reiciendis officia? Vel, porro nemo corporis velit molestiae voluptas doloribus voluptatem eveniet? Magni cupiditate illum quia harum fuga itaque minus et, vitae perferendis veniam, fugiat quibusdam ea. In rem reprehenderit libero adipisci error blanditiis porro velit. Ab architecto voluptate incidunt iusto alias aliquam dolor? Blanditiis adipisci, dolor qui vero deleniti earum quasi tempora. Ipsam, placeat culpa sed nobis magni veritatis optio expedita quam. Reprehenderit, corporis blanditiis! Distinctio, voluptates fugit accusantium eveniet debitis molestiae molestias est quibusdam. Non, dignissimos culpa laboriosam odio odit modi necessitatibus consequuntur expedita a voluptas libero sunt corrupti eius ipsam aliquam, doloremque cum, dolorem suscipit. Fugit quis, iure ab rem quam eveniet numquam dicta nam veritatis at? Deleniti, quidem? Tempore ab explicabo eveniet dignissimos voluptate? Iure suscipit beatae minus, voluptas unde laborum eveniet, labore quia tempora ea odio est? Tenetur odio nulla quam harum distinctio fugiat nemo ab, exercitationem voluptatem in esse similique asperiores obcaecati?</p>
      </section>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
